<app-navbar></app-navbar>
<div class="pt-5">
    <div class="pt-5 pt-md-0">
        <app-header smallcap="What We are" bigcap="About LCMAZE"></app-header>
    </div>
</div>

<app-primebox></app-primebox>

<div class="w-80 pt-5">
    <div class="details py-5">
        <app-heading small="Our Approach" big="To build your business"></app-heading>
        <p class="mt-4">
            Having known as a website development company in the initial stages, LCMAZE have now blossomed into a global IT solution provider. Today, we create custom made mobility solutions, web and mobile applications and dynamic digital marketing strategies for
            our customers in Asia, the Middle East, Northern and Southern parts of America. The journey was not easy, but with a team of talented developers, designers, and managers, we’ve been able to make ourselves known to some of the big names in
            the industry and to help them redesign and power up their digital marketplace. Along with other services, e-commerce development is a service we actively proffer and have been able to successfully land customers whose names are recognized
            worldwide.
            <br><br> LCMAZE, the frontrunner in Online Business solutions has helped many organizations to transition their businesses from the traditional marketing to the online platform. On web based services and online marketing strategy, we have
            the best team of programmers, graphic designers, SEO professionals , efficient content writers, E-Commerce solutions, Digital Marketing experts. Our work is our word. We guide clients for building their unique online platform to standout among
            the competitors on a global level. Brand awareness and recognition is our goal for clients. LCMAZE, the frontrunner in Online Business solutions has helped many organizations to transition their businesses from the traditional marketing to
            the online platform. On web based services and online marketing strategy, we have the best team of programmers, graphic designers, SEO professionals , efficient content writers, E-Commerce solutions, Digital Marketing experts.
        </p>
    </div>
</div>

<div class="w-80 pt-5">
    <div class="mv">
        <div class="row mx-0">
            <div class="col-lg-6 px-0">
                <div class="mission p-4 p-md-5">
                    <h2 class="mb-4">Mission</h2>
                    <p class="mb-0">
                        Software is like a galaxy in the universe of Internet. In this digital era, most of the personal and professional activities are established from sending to receiving data of any type and size. The channel is much faster and reliable for data transition
                        producing effective results on the consumer-end. It is our mission to guide clients and help them choose the best web and software solutions to transition their business to online platform.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <div class="vision p-4 p-md-5">
                    <h2 class="mb-4">Vision</h2>
                    <p class="mb-0">
                        We aim to be the one and only organization for creating best software solutions, web designs, digital applications and tools for clients across the globe. To grow with innovative and modern trends in technology and online services as this will guide other
                        sectors to involve and enlarge their business in time. This expands our lifelong relationships with the world for prospering business and success.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-5">
    <div class="pt-5">
        <div class="pt-5">
            <app-banner smallcap="More About the Company" bigcap="LCMAZE" [btnvisible]=false description="We guide clients for building their unique online platform to standout among the competitors on a global level. Brand awareness and recognition is our goal for clients. LCMAZE, the frontrunner in Online Business solutions has helped
            many organizations to transition their businesses from the traditional marketing to the online platform. On web based services and online marketing strategy, we have the best team of programmers, graphic designers, SEO professionals
            , efficient content writers, E-Commerce solutions, Digital Marketing experts."></app-banner>
        </div>
    </div>
</div>

<div class="w-80 pt-5">
    <div class="details pt-5">
        <app-heading small="Frameworks & Tools" big="Technologies We Use"></app-heading>
        <div class="icons mt-5">
            <div class="row mx-0">
                <div class="col-6 col-md-3 p-0">
                    <img src="assets/images/tech/angular.jpg" alt="">
                </div>
                <div class="col-6 col-md-3 p-0">
                    <img src="assets/images/tech/react.jpg" alt="">
                </div>
                <div class="col-6 col-md-3 p-0">
                    <img src="assets/images/tech/android.jpg" alt="">
                </div>
                <div class="col-6 col-md-3 p-0">
                    <img src="assets/images/tech/aws.jpg" alt="">
                </div>
                <div class="col-6 col-md-3 p-0">
                    <img src="assets/images/tech/php.jpg" alt="">
                </div>
                <div class="col-6 col-md-3 p-0">
                    <img src="assets/images/tech/node.jpg" alt="">
                </div>
                <div class="col-6 col-md-3 p-0">
                    <img src="assets/images/tech/firebase.jpg" alt="">
                </div>
                <div class="col-6 col-md-3 p-0">
                    <img src="assets/images/tech/wordpress.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-5">
    <div class="pt-5">
        <div class="pt-5">
            <div class="pt-5">
                <app-testimonials bigcap="Testimonials" smallcap="What Our Clients Say"></app-testimonials>
            </div>
        </div>
    </div>
</div>

<div class="pt-5">
    <div class="pt-5">
        <app-footer></app-footer>
    </div>
</div>