<div class="banner">
    <div class="resp-container d-none d-xl-block">
        <iframe class="resp-iframe" SameSite="none" secure src="https://www.youtube.com/embed/PhY7uAMKYg4?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=PhY7uAMKYg4" gesture="none" allow="encrypted-media"></iframe>
    </div>
</div>

<div class="overlay"></div>

<div class="text">
    <div class="mx-auto">
        <h2 class="mb-1">Web & App Experts for</h2>
        <h1 class="mb-0">Digital Transformation</h1>
    </div>
</div>

<div class="scroller">
    <a href="" style="z-index: 2;">
        <div class="box">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
</div>