<app-navbar></app-navbar>
<div class="pt-5">
    <div class="pt-5 pt-md-0">
        <app-header smallcap="How to Reach" bigcap="Contact Us" imgs="contact.svg"></app-header>
    </div>
</div>

<section>
    <div class="w-80 p-3 p-md-5">
        <div class="row mx-0 justify-content-between align-items-center">
            <div class="col-lg-6 px- py-3">
                <div class="row mx-0 set">
                    <div class="col-2 col-md-1 px-0">
                        <img src="/assets/images/socialicons/address.svg" alt="">
                    </div>
                    <div class="col-10 col-md-11 px-0 pl-5">
                        <h3>Address</h3>
                        <div class="line2 my-2"></div>
                        <p>LC Maze Solutions<br>Elinjipra P.O,Chalakudy<br>Pin: 680721</p>
                    </div>
                </div>
                <div class="row mx-0 mt-4 set">
                    <div class="col-2 col-md-1 px-0">
                        <img src="/assets/images/socialicons/phone.svg" alt="">
                    </div>
                    <div class="col-10 col-md-11 px-0 pl-5">
                        <h3>Phone</h3>
                        <div class="line2 my-2"></div>
                        <p>+91 9747877576</p>
                    </div>
                </div>
                <div class="row mx-0 mt-4 set">
                    <div class="col-2 col-md-1 px-0">
                        <img src="/assets/images/socialicons/mail.svg" alt="">
                    </div>
                    <div class="col-10 col-md-11 px-0 pl-5">
                        <h3>Email</h3>
                        <div class="line2 my-2"></div>
                        <p>info@lcmaze.com</p>
                    </div>
                </div>
                <div class="bg">Enquiry</div>
            </div>
            <div class="col-lg-6 px- py-3">
                <div class="box">
                    <!-- <h3 class="pr-3">Enquiry</h3> -->
                    <!-- <div class="line2 mx-auto mt-3"></div> -->
                    <div class="row mx-0">
                        <div class="col-md-6">
                            <div class="input">
                                <label>Your Name</label>
                                <input type="text" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input">
                                <label>Your Email</label>
                                <input type="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input">
                                <label>Your Phone</label>
                                <input type="tel" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input">
                                <label>Subject</label>
                                <input type="text" placeholder="Topic">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input">
                                <label>Message</label>
                                <textarea rows="4" type="text" placeholder="Your message here"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="animated-button mt-4">
                                <a><span>Submit</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="pt-5">
    <div class="pt-4">
        <app-primebox></app-primebox>
    </div>
</div>

<div class="pt-5">
    <div class="pt-5">
        <app-footer></app-footer>
    </div>
</div>