<app-navbar></app-navbar>
<div class="pt-5">
    <div class="pt-5 pt-md-0">
        <app-header smallcap="Our Works" bigcap="Portfolio" imgs="portfolio.svg"></app-header>
    </div>
</div>

<div class="w-80">
    <div class="row">
        <div class="col-md-4 p-3">
            <app-portfolio-cards link="https://getmyadmission.com/home" logo="gmalogo.png" img="gma.png"></app-portfolio-cards>
        </div>
        <div class="col-md-4 p-3">
            <app-portfolio-cards link="https://antonlimo.com/" logo="antonlimo.png" img="antonlimo.jpeg"></app-portfolio-cards>
        </div>
        <div class="col-md-4 p-3">
            <app-portfolio-cards link="" logo="futhublogo.png" img="futhub.jpeg"></app-portfolio-cards>
        </div>
        <div class="col-md-4 p-3">
            <app-portfolio-cards></app-portfolio-cards>
        </div>
    </div>
</div>

<div class="pt-5">
    <div class="pt-5">
        <app-footer></app-footer>
    </div>
</div>