.w-80 {
    width: 80%;
    margin: 0 auto;
}

.content {
    p {
        font-size: 20px;
        font-weight: 300;
        color: #3d3d3d;
        max-width: 700px;
    }
}

.video {
    display: flex;
    justify-content: flex-end;
    .iframe {
        width: 100%;
        max-width: 520px;
        height: 520px;
        border-radius: 60px;
        object-fit: cover;
    }
    .i-bg {
        background-color: var(--prime);
        width: 100%;
        max-width: 520px;
        height: 520px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        border-radius: 60px;
        transform: rotate(20deg)
    }
}

@media(max-width:1600px) {
    .w-80 {
        width: 90%;
    }
    .video {
        .iframe {
            max-width: 400px;
            height: 400px;
        }
        .i-bg {
            max-width: 400px;
            height: 400px;
        }
    }
}

@media(max-width:991.98px) {
    .content {
        margin-bottom: 60px;
    }
    .video {
        justify-content: center;
        overflow: hidden;
        .iframe {
            max-width: 400px;
            height: 320px;
        }
        .i-bg {
            right: unset;
            height: 320px;
        }
    }
}