<section>
    <div class="w-80 pt-5">
        <div class="row mx-0 pt-4">
            <div class="col-md-6 col-lg-3 px-0 py-2">
                <div class="cap">Web Development</div>
                <div class="line-2"></div>
                <a class="service" (click)="linkto('web-application')">
                    <img src="assets/images/categories/webapp.svg" alt="">
                    <h5>Web Application</h5>
                </a>
                <a class="service" (click)="linkto('content-management-system')">
                    <img src="assets/images/categories/cms.svg" alt="">
                    <h5>Content Management System</h5>
                </a>
                <a class="service" (click)="linkto('e-commerce')">
                    <img src="assets/images/categories/ecommerce.svg" alt="">
                    <h5>E-Commerce</h5>
                </a>
                <a class="service" (click)="linkto('backend')">
                    <img src="assets/images/categories/backend.svg" alt="">
                    <h5>Backend Solutions</h5>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 px-0 py-2">
                <div class="cap">Mobile App Development</div>
                <div class="line-2"></div>
                <a class="service" (click)="linkto('android')">
                    <img src="assets/images/categories/android.svg" alt="">
                    <h5>Android Apps</h5>
                </a>
                <a class="service" (click)="linkto('ios')">
                    <img src="assets/images/categories/apple.svg" alt="">
                    <h5>IOS Apps</h5>
                </a>
                <a class="service" (click)="linkto('hybrid')">
                    <img src="assets/images/categories/hybrid.svg" alt="">
                    <h5>Hybrid Apps</h5>
                </a>
                <a class="service" (click)="linkto('utility')">
                    <img src="assets/images/categories/utility.svg" alt="">
                    <h5>Utility Apps</h5>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 px-0 py-2">
                <div class="cap">Digital Marketing</div>
                <div class="line-2"></div>
                <a class="service" (click)="linkto('social-media')">
                    <img src="assets/images/categories/socialmedia.svg" alt="">
                    <h5>Social Media Marketing</h5>
                </a>
                <a class="service" (click)="linkto('web-analytics')">
                    <img src="assets/images/categories/webanalytics.svg" alt="">
                    <h5>Web Analytics</h5>
                </a>
                <a class="service" (click)="linkto('seo')">
                    <img src="assets/images/categories/seo.svg" alt="">
                    <h5>Search Engine Optimisation</h5>
                </a>
                <a class="service" (click)="linkto('ads')">
                    <img src="assets/images/categories/ads.svg" alt="">
                    <h5>Ads Management</h5>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 px-0 py-2">
                <div class="cap">Web Designing</div>
                <div class="line-2"></div>
                <a class="service" (click)="linkto('corporate-websites')">
                    <img src="assets/images/categories/corporate.svg" alt="">
                    <h5>Corporate Websites</h5>
                </a>
                <a class="service" (click)="linkto('ui-ux-design')">
                    <img src="assets/images/categories/ui.svg" alt="">
                    <h5>UI Designing</h5>
                </a>
                <a class="service" (click)="linkto('responsive-web')">
                    <img src="assets/images/categories/responsive.svg" alt="">
                    <h5>Responsive Web Designing</h5>
                </a>
                <a class="service" (click)="linkto('hosting')">
                    <img src="assets/images/categories/hosting.svg" alt="">
                    <h5>Web Hosting</h5>
                </a>
            </div>
        </div>
    </div>
</section>