.w-80 {
    width: 80%;
    margin: 0 auto;
}

.slide {
    position: relative;
    display: flex;
    .cnt {
        // border-top: 1px solid #eaeaea;
        // box-shadow: 0 4px 8px 3px #eaeaea;
        width: 70%;
        padding: 20px;
        border-radius: 0px 60px 0px 60px;
        min-height: 280px;
        padding-right: 70px;
        display: flex;
        align-items: center;
        p {
            color: #000;
            font-weight: 500;
            font-size: 20px;
            font-weight: 300;
            span {
                font-size: 140px;
                font-weight: 700;
                font-family: Verdana, sans-serif;
                position: absolute;
                top: 0;
                opacity: 0.05;
            }
        }
    }
    .prof-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 200px;
        margin-left: -60px;
        margin-top: 40px;
        border: 5px solid #eaeaea;
    }
    .identity {
        margin-top: 108px;
        margin-left: 20px;
        h5 {
            color: #3d3d3d;
            font-size: 26px;
        }
        h6 {
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.rt-img {
    width: 100%;
    height: 100%;
}

@media(max-width:1600px) {
    .w-80 {
        width: 90%;
    }
    .slide {
        .prof-img {
            width: 140px;
            height: 140px;
            object-fit: cover;
            border-radius: 60px;
            margin-left: -60px;
            margin-top: 70px;
            border: 5px solid #eaeaea;
        }
    }
}

@media(max-width:576px) {
    .slide {
        display: unset;
        .cnt {
            width: 100%;
            padding: 10px;
            min-height: 280px;
            padding-right: 10px;
        }
        .prof-img {
            width: 90px;
            height: 90px;
            margin-left: 0px;
            margin-top: 10px;
        }
        .identity {
            margin-top: -70px;
            margin-bottom: 65px;
            margin-left: 100px;
        }
    }
}