<app-navbar [navbar]="false"></app-navbar>
<app-videobanner></app-videobanner>


<div class="py-5">
    <div class="py-5">
        <app-categories [inverted]=true smallcap="Getting your business online" bigcap="Web Development" image="webdevelopment.svg" icn1="webapp.svg" cap1="Web Application" (click1)="linkto('web-application')" icn2="cms.svg" cap2="Content Management System" (click2)="linkto('content-management-system')"
            icn3="ecommerce.svg" cap3="E-commerce" (click3)="linkto('e-commerce')" icn4="backend.svg" cap4="Backend Solutions" (click4)="linkto('backend')" description="Your website is the face of your brand online and thus we take great care in creating the best
            web experience for you and your customers. We blend modern technological tools with our
            passion for design to create ultimate online experiences for the users who visit your website.
            Our tailormade web products will be in line with your business objectives and ensure customer
            satisfaction."></app-categories>
    </div>
</div>

<div class="py-5">
    <div class="py-5">
        <app-categories [inverted]=false smallcap="Going Mobile" bigcap="Mobile Apps Development" image="appdevelopment.svg" icn1="android.svg" cap1="Android Apps" (click1)="linkto('android')" icn2="apple.svg" cap2="IOS Apps" (click2)="linkto('ios')" icn3="hybrid.svg"
            cap3="Hybrid Apps" (click3)="linkto('hybrid')" icn4="utility.svg" cap4="Utility Apps" (click4)="linkto('utility')" description="Mobile devices are the technology of now. We develop mobile applications that will help
            customers interact with your business using mobile devices. We have helped businesses create
            mobile experiences that have helped them achieve more sales and potential customers."></app-categories>
    </div>
</div>

<div class="py-5">
    <div class="py-5">
        <app-categories [inverted]=true smallcap="Promoting your business" bigcap="Digital Marketing" image="digitalmarketing.svg" icn1="socialmedia.svg" cap1="Social Media" (click1)="linkto('social-media')" icn2="webanalytics.svg" cap2="Web Analytics" (click2)="linkto('web-analytics')"
            icn3="seo.svg" cap3="SEO" (click3)="linkto('seo')" icn4="ads.svg" cap4="Ads Management" (click4)="linkto('ads')" description="Your presence online is not enough. People should know about your business. For that we use
            aligned advertising campaigns through social and other digital media. Our digital marketing
            solutions are for organizations of all sizes which will help you reach your target audience on a
            reasonable budget."></app-categories>
    </div>
</div>

<div class="py-5">
    <div class="py-5">
        <app-categories [inverted]=false smallcap="Design Solutions" bigcap="Web Designing" image="webdesigning.svg" icn1="corporate.svg" cap1="Corporate Websites" (click1)="linkto('corporate-websites')" icn2="ui.svg" cap2="UI Designing" (click2)="linkto('ui-ux-design')"
            icn3="responsive.svg" cap3="Responsive Designs" (click3)="linkto('responsive-web')" icn4="hosting.svg" cap4="Web Hosting" (click4)="linkto('hosting')" description="We all know that the first impression is the best impression. Your prospects and customers use
            this to determine your value. Using effective design tools and our passion in designing, we can
            help you create your very first impression the best. Our designs capture your brand, improve
            navigation on the site, thus helping you grow your business."></app-categories>
    </div>
</div>

<div class="pt-5">
    <div class="pt-5">
        <div class="pt-5">
            <app-banner smallcap="Who we are" bigcap="About LCMAZE" (clicks)="about()" description="We are a team of full stack digital developers using our passion in technology to help you and
            your business. We provide value driven digital marketing and web services to help your brand
            earn global recognition. We have a proven track record of delivery excellence and has earned
            the trust of a loyal and elite clientele we have worked with before."></app-banner>
        </div>
    </div>
</div>

<div class="pt-5">
    <div class="pt-5">
        <div class="pt-5">
            <div class="pt-5">
                <app-testimonials bigcap="Testimonials" smallcap="What Our Clients Say"></app-testimonials>
            </div>
        </div>
    </div>
</div>

<div class="pt-5">
    <div class="pt-5">
        <div class="pt-5">
            <app-footer></app-footer>
        </div>
    </div>
</div>